* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Main Dashboard Container */
.mainDashboardContainer {
    display: flex;
    background-color: #f0f2f5;
    height: 100vh;
    width: 100vw;
}

/* Navigation Container */
.mainNavigationContainer {
    background-color: #1d1f24;
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    padding: 10px;
    color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease;
}

.mainNavigationContainer:hover {
    width: 20%;
}

.logoContainer {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.logoContainer img {
    height: 70%;
    width: auto;
    object-fit: contain;
    filter: drop-shadow(2px 4px 6px black);
}

.navigationBtns {
    background-color: #ff6f61;
    border: none;
    padding: 15px 25px;
    text-align: left;
    width: 100%;
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navigationBtns:hover {
    background-color: #ff4b3a;
    transform: translateX(5px);
}

.contentContainer {
    height: 100%;
    width: 85%;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 20px;
    overflow-y: auto;
}
.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.btnUserTable{
    padding: 10px;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}
.suspendUser{
    background-color: #ff4b3a;
}
.activateUser{
    background-color: rgb(76, 0, 255);
}